<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>trietnm.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>trietnm.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>trietnm.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>trietnm.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>trietnm.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInformationController</servlet-name>
        <servlet-class>trietnm.controllers.ViewInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>trietnm.controllers.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateUserController</servlet-name>
        <servlet-class>trietnm.controllers.DeactivateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>trietnm.controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookController</servlet-name>
        <servlet-class>trietnm.controllers.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookController</servlet-name>
        <servlet-class>trietnm.controllers.ViewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>trietnm.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>trietnm.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>trietnm.controllers.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>trietnm.controllers.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>trietnm.controllers.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryController</servlet-name>
        <servlet-class>trietnm.controllers.ViewHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailController</servlet-name>
        <servlet-class>trietnm.controllers.ViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelController</servlet-name>
        <servlet-class>trietnm.controllers.CancelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInformationController</servlet-name>
        <url-pattern>/ViewInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateUserController</servlet-name>
        <url-pattern>/DeactivateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookController</servlet-name>
        <url-pattern>/SearchBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookController</servlet-name>
        <url-pattern>/ViewBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/ConfirmOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryController</servlet-name>
        <url-pattern>/ViewHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailController</servlet-name>
        <url-pattern>/ViewDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelController</servlet-name>
        <url-pattern>/CancelController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
